.main-container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 60px;
}
.footer{
    width: 100%;
    background-color: #e6e6e6;
    color: rgb(139, 139, 139);
    align-items: center;
    position: absolute;
    bottom: 0;
}
.footer p{
  margin-top:10px;
  margin-bottom: 5px;
}
.footer-layout{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
}
.nectecLogo{
    width: 80px;
    height: auto;
    padding: 20px;
}
.footerRight{
    text-align: right;
}
.footerCenter{
    display: flex;
    align-items: center;
}
.imgContact{
    width: 30px;
    height: 30px;
    padding-right: 5px;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    font-size: 12px;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.logo-nectec{
    width: 70px;
    height: auto;
    margin: 10px;
}

.modal-footer {
    display: none;
    position: fixed;
    z-index: 7;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 90px;
}

.btn-send-footer{
    /* position: absolute;
    bottom: 10px;
    width: 100%; */
}
.modal-content-footer {
    margin: auto;
    position: relative;
    border-width: 0;
    border-radius: 10px;
    width: 300px;
    height: 80%;
    overflow: auto;
    background-color: #5bbcd2;
    color: white;
}
.modal-content-footer > h2 {
    padding-left: 10px;
    margin-bottom: 0;
}
.checkbox-layout-footer{
    display: flex;
    align-items: center;
    background-color: white;
    color: #5bbcd2;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10;
    border: 0;
}

.close-footer {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
    color: rgb(238, 70, 70);
}
.add-footer{
    display: flex;
    align-items: center;
    margin: 5px auto;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
}
.btn-send-footer p {
    margin: 0;
}

.animate-footer {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
.style-select-footer{
    padding:10px 16px;
    width:100%;
    border-radius:5px;
    border-width: 0;
    background-color: white;
    color: #5bbcd2;
    font-family: 'Kanit', sans-serif;
    outline: none;
    font-size: 18px;
}
.padding-pup-footer{
    padding: 10px;
}
.input-head{
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  outline: none;
  font-family: 'Kanit', sans-serif;
}
.padding-pup-footer textarea {
    width: 100%;
    height: 150px;
    margin-top: 10px;
    resize: none;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Kanit', sans-serif;
    outline: none;
}
@media screen and (max-width: 450px) {
    .footer-layout{
        grid-template-columns: auto;
        width: 100%;
    }
    .footerRight{
        text-align: center;
        background-color: #d4d4d4;
    }
    .footerCenter{
        justify-content: center;
        padding: 10px;
    }
    .main-container {
        padding-bottom: 100px;
    }
}
