
button:focus,input:focus,textarea:focus,select:focus{
    outline: none;
}
body{
    padding-bottom: 70px;
}
label{
    margin: 0;
}
table{
    width: 230%;
  
    /*border-collapse: separate; */
    border-collapse: collapse; 
    -webkit-border-horizontal-spacing: 10px;
    -webkit-border-vertical-spacing: 7px;
}
tr{
    width: 25%;
    text-align: center;
    border: none;
    border-top: 1px solid lightgrey;
    /*padding: 10px 0px;*/
}
tr .date{
    font-size: 0.7em;
}
tr:first-child{
    border: none;
}
table.first{
    width: 140%;
}
a{
    text-decoration: none;
    color: white;
}
/* .first tbody tr:nth-child(even) {
    background-color: rgba(91, 188, 210, 0.38);
   border-top-left-radius: 10px;
}*/
div.do_hw{
    padding: 5px 10px;
    background-color:#5bbcd2;
    color: white;
    border-radius: 20px;
    margin: 3px 0px;
}
.head_table{
    padding: 10px 0;
}
.head{
    font-size: 1.3em;
    color:#5bbcd2;
}
.tabs {
    display: block;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    overflow: hidden;
}
.tabs .ready{
    color:#d21117;
}
.tabs .done{
    color:rgb(75, 227, 142);
}
.tabs .late{
    color:rgb(255, 86, 62);
}
.tabs [class^="tab"] label,.tabs [class*=" tab"] label {
    
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    text-align: center;
}
.tabs th{
    font-size: .8em;
}
.tabs [class^="tab"] [type="radio"],.tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
}
.tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,.tabs [class*=" tab"] [type="radio"]:hover,.tabs [class*=" tab"] [type="radio"]:focus {
    border-bottom: 1px solid #5bbcd2;
}
.tabs [class^="tab"] [type="radio"]:checked,.tabs [class*=" tab"] [type="radio"]:checked {
    border-bottom: 2px solid #5bbcd2;
}
.tabs [class^="tab"] [type="radio"]:checked + div,.tabs [class*=" tab"] [type="radio"]:checked + div {
    opacity: 1;
}
.tabs [class^="tab"] [type="radio"] + div,.tabs [class*=" tab"] [type="radio"] + div {
    display: block;
    opacity: 0;
    width: 90%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.tabs .tab-1 {
    color:#d21117;
}
.tabs .tab-2 {
    width: 50%;
}
.tabs .tab-2:first-child [type="radio"] + div {
    width: 200%;
    margin-left: 200%;
}
.tabs .tab-2:first-child [type="radio"]:checked + div {
    margin-left: 0;
    width: 138%;
}

.tabs .tab-2:last-child [type="radio"] + div {
    margin-left: 100%; 
}
.tabs .tab-2:last-child [type="radio"]:checked + div {
    margin-left: -100%; 
}
.lb-myself{
/*    height: 70px;*/
    padding: 10px 0px;
    width: 100%;
    background-color:white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    color: #5bbcd2;
}
.flex{
    display: inline-flex;
    justify-content: space-around;
}
.homework_detail h1{
    margin-bottom: 0px;
}
.homework_detail h3{
    color:#5bbcd2;
}
.homework_detail .title p{
    padding: 0px 30px;
    color: rgb(233, 233, 233);
}
.homework_detail table{
    width: 100%;
}